/* darkgrey:#1F2833, black:#0B0C10, beige:#C5C6C7, lightgreen:#66FCF1, drkgreen:#45A29E*/

html, body {
    margin: 0;
    height: 100%;
}

body {
    background-color: #1F2833;
}

/* Nav styles */

#navLogo {
    height: 5rem;
    margin-right: 2rem;
    margin-left: 1rem;
    border-radius: 3%;
    
}

.navbar-custom {
    background-color: #1F2833 !important;
}

.nav-link {
    font-size: 1.5rem;
    color: #66FCF1 !important;
}

/* Homepage styles */

#home-content {
    box-sizing: border-box;
    height: 40rem;
    padding-top: 6rem;
    background-color: #0B0C10;
}

#home-header {
    color: #45A29E;
    font-size: 6rem;
}

#home-details {
    color: #45A29E;
    font-size: 3rem;
}

.btn-signup {
    background-color: #66FCF1;
    color: #0B0C10 !important;
}

/* Sign in/Log in styles */

.welcome {
    color: #66FCF1;
    margin: 2rem;
}

.btn-form {
    color: #45A29E;
    border-color: #45A29E !important;
}

.btn-form:hover {
    background-color: #45A29E;
    color: #C5C6C7;
}

/* Watchlist display styles */

#wlName {
    color: #C5C6C7;
    margin-left: 2rem;
}

#wlDesc {
    color: #C5C6C7;
    margin-left: 2rem;
}

tr:nth-child(even) {
    background-color: #0B0C10;
}

#wl-table {
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.wl-delete {
    margin-right: 2rem;
}

.table {
    border: 1px solid #C5C6C7;
}

th {
    color: #66FCF1;
}

td {
    color: #C5C6C7;
}

.neg {
    color: red;
}

.pos {
    
    color: greenyellow;
}

.remove-stock, .user-delete:hover {
    cursor: pointer;
}

/* stock page styles */

.stock-content {
    margin: 2rem;
}

.stock-title {
    color: #66FCF1;
}

hr {
    border: 1px solid #C5C6C7;
}

.stock-info {
    color: #C5C6C7;
}

/* mainly for homepage font */
@media (max-width: 1200px) { 
    #home-content {
        height: 40rem;
        padding-top: 6rem;
    }
    
    #home-header {
        font-size: 3rem;
    }
    
    #home-details {
        font-size: 1.5rem;
    }
}

@media (max-width: 768px) { 
    #home-content {
        padding-top: 3rem;
        text-align: center;
    }
}