{% extends 'base.html' %}

{% block content %}
<div class="stock-content">
  <div class="d-flex">
    <div class="mr-auto stock-title">
      <h1 id="stock-name">{{stock.price.shortName}} | {{stock.price.symbol}}</h1>
    </div>
    <div>
      {% if g.user %}
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Add to watchlist
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="add-stock">
              {% for wl in g.user.watchlists %}
                  <p class="dropdown-item" id="{{wl.id}}">{{wl.name}}</p>
              {% endfor %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
  <hr>
  <div class="stock-info">   
    <div class="d-flex">
      <div class="p-2">
        <h3>${{stock.price.regularMarketOpen.raw}}</h3>
      </div>
      <div class="p-2">
        <h3 class="stock-price-change">{{(stock.price.regularMarketChangePercent.raw * 100)|round(2)}}</h3>
      </div>
      <div class="p-2 stock-price-change">
        <h3>{{stock.price.regularMarketChange.fmt}}</h3>
      </div>
    </div>   
    
  </div>
  
</div>

{% endblock %}