{% extends 'base.html' %}

{% block content %}
<div class="d-flex">
    <div>    
        <h1 id="wlName">{{watchlist.name}}</h1>
        <p id="wlDesc">Description: {{watchlist.description}}</p>
    </div>
    <div class="ml-auto align-self-end">
        <button class="btn btn-outline-danger wl-delete" id="{{watchlist.id}}">Delete Watchlist</button>
    </div>
</div>
<div id="wl-table">
    <table class="table">
        <thead>
            <th scope="col">Company Name</th>
            <th scope="col">Price</th>
            <th scope="col">Price Change</th>
            <th scope="col">Price Change %</th>
            <th scope="col">Remove</th>
        </thead>
        <tbody>
            {% if data != None %}
            {% for stock in data.quoteResponse.result %}
                <tr>
                    <td><a href="/stocks/{{stock.symbol}}">{{stock.symbol}}<br>{{stock.shortName}}</a></td>
                    <td>${{stock.regularMarketPrice}}</td>
                    <td class="price-change">{{stock.regularMarketChange|round(2)}}</td>
                    <td class="percent-change">{{stock.regularMarketChangePercent|round(2)}}</td>
                    <td><i class="fas fa-trash remove-stock" id="{{stock.symbol}}"></i></td>
                </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>

{% endblock %}