{% extends 'base.html' %}

{% block content %}
<h1>{{watchlist.name}}</h1>
<p>{{watchlist.description}}</p>
<a href="/delete/watchlist/{{watchlist.id}}">Delete Watchlist</a>
<table class="table">
    <thead>
        <th scope="col">Company Name</th>
        <th scope="col">Ticker</th>
        <th scope="col">Price</th>
    </thead>
    <tbody>
        {% if data != None %}
        {% for stock in data.quoteResponse.result %}
            <tr>
                <td><a href="/stocks/{{stock.symbol}}">{{stock.shortName}}</a></td>
                <td>{{stock.symbol}}</td>
                <td>{{stock.regularMarketPrice}}</td>
            </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>
{% endblock %}